name: CI

on:
    push:
        branches: [main]
    pull_request:
    workflow_dispatch:

jobs:
    test:
        name: Test & Coverage
        runs-on: ubuntu-latest

        permissions:
            contents: read
            pull-requests: read

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node & pnpm
              uses: ./.github/actions/setup
              with:
                  node-version: 23.7.0

            - name: Run tests
              run: pnpm test:ci
              env:
                  CI: true

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
